  <div class="main">
  <h1>Welcome to dackers.net</h1>
  </div>

  <text placholder="Email...."></text>
  <text placholder="Password...."></text>
  <button>Sign In / Login</button>


  <button class="fb">Facebook</button>


  <button>Continue as Guest...</button>

  <footer>
    Developed in Ruby 
  </footer>