<html>
  <head>
  </head>
  <body>
    <div>
      <a href="/">
        <img src="" />
      </a>
    </div>
    <div>
      <nav>
        <a href="/contact">Contact</a>
        <a href="/webstack">Web Stack</a>
      </nav>
    </div>
    <div>
      <input type="text">Username</input>
      <input type="text">Password</input>
      <button>Log in / Sign In</button>
    </div>
    <div>
      or alternatibly <button>Enter Website</button>
    </div>
    <footer>
      Developed In Ruby <a href="ruby-logo" />
    </footer>
  <body>
</html>